@import '../../../assets/style/variables'; 
@import '../../../assets/style/common'; 

#about{
    margin: 140px 0;
    .about-details{
        @media only screen and (max-width: 860px) {
            width: 100% !important;
            margin-bottom: 30px;
        }
        width: calc(100% - 500px - 30px);
        &_properties{
            margin-top: 50px;
            margin-bottom: 57px;
            width: 100%;
            height: 40px;
            .about-prop{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 145px;
                .connection-line{
                    position: absolute;
                    top: 15px;
                    left: 40px;
                    height: 1px;
                    width: 152px;
                    opacity: .3;
                    background-color: gray;
                }
                &_img{
                    margin-bottom: 25px;
                }
                &_desc{
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    font-style: normal;
                    text-transform: uppercase;
                }
            }
        }
        .more-news{
            padding: 20px 36px;
            text-decoration: none;
            border: 1px solid $main-brown;
            color: $main-black;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 400;
            display: inline-block;
            margin-top: 47px;
            text-transform: uppercase;
            &:hover{
                background-color: $main-brown;
                color: #fff;
                transition: .2s;
            }
        }
    }
    .about-images{
        @media only screen and (max-width: 860px) {
            width: 100% !important;
        }
        width: 500px;
        &_img-column{
            width: 240px;
            @media only screen and (max-width: 860px) {
                width: calc((100% - 20px)/2)
            }
            &:last-child{
                margin-top: 130px;
            }
            >img{
                width: 100%;
                &:first-child{
                    margin-bottom: 16px;
                }
            }
        }
    }
}

