@import '../../../assets/style/variables'; 
@import '../../../assets/style/common'; 

#quote{
    width: 100%;
    padding: 80px 0;
    background-color: #252525;
    .quote-details{
        .sec-heading{
            margin-top: 12px;
            margin-bottom: 26px;
            color: #fff !important;
        }
    }
    .get-quote{
        background-color: $main-brown;
        text-decoration: none;
        padding: 18px 32px;
        color: #fff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        &:hover{
            transform: translateY(-5px);
            transition: .2s linear;
        }
    }
}

