@import '../../../assets/style/variables'; 
@import '../../../assets/style/common'; 

#book{
    width: 100%;
    background-color: $main-black;
    padding: 140px 0;
    .book-details{
        @media only screen and (max-width: 720px) {
            width: 100% !important;
        } 
        width: 500px;
        padding-top: 83px;
        box-sizing: border-box;
        .sec-heading{
            margin-top: 12px;
            margin-bottom: 40px;
            color: #fff !important;
        }
        .featured{
            font-family: Montserrat;
            color: #fff;
            margin-top: 69px;
            margin-bottom: 36px;
            font-size: 14px;
            font-weight: 700;
            line-height: 36px;
            text-align: left;
            text-transform: uppercase;
        }
        .book-companies{
            >img{
                @media only screen and (max-width: 720px) {
                    display: block !important;
                    margin-bottom: 20px;
                }
                margin-right: 40px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .book-calendar{
        @media only screen and (max-width: 720px) {
            width: 100% !important;
        }
        width: 560px;
        >img{
            width: 100%;
        }
    }
}

