@import '../../../../assets/style/variables'; 
@import '../../../../assets/style/common'; 

.about-me_card{
    @media only screen and (max-width: 960px) {
        width: 100% !important;
        margin-bottom: 30px;
    }
    width: calc((100% - 90px)/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    >i{
        font-size: 56px;
        margin-bottom: 36px;
    }
    &_name{
        color: $main-black;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        line-height: 48px;
        text-transform: uppercase;
    }
}