@import '../../../assets/style/variables'; 
@import '../../../assets/style/common'; 

#blog-post{
    width: 100%;
    padding: 80px 0;
    background-color: #f2f2f1;
    .sec-heading{
        margin-top: 12px;
    }
}

