@import "../../assets/style/_variables.scss";
@import "../../assets/style/_common.scss"; 

footer{
    padding: 80px 0;
    .footer-details{
        @media only screen and (max-width: 720px) {
            width: 50% !important;
            text-align: center;
        }
        >img{
            margin-bottom: 42px;
        }
        .copyright{
            color: #858585;
            font-family: "Playfair Display";
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
        }
    }
    .footer-column{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media only screen and (max-width: 720px) {
            width: 50% !important;
            margin-bottom: 30px;
            align-items: center !important; 
        }
        >a{
            text-transform: uppercase;
            text-decoration: none;
            margin-bottom: 12px;
            color: #afafaf;
            font-family: Montserrat;
            font-size: 13px;
            font-weight: 700;
            line-height: 30px;
        }
    }
    .footer-address{
        @media only screen and (max-width: 720px) {
            width: 100% !important;
        }
        .add-bg{
            position: relative;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            display: inline-block;
            color: gray !important;
            margin-right: 26px;
            >i{
                position: absolute;
                left: 50%;
                top: 22px;
                font-size: 46px;
                transform: translateX(-50%);
                color: #fff;
            }
        }
        .contact-details{
            height: 130px;
            &_name{
                color: $main-black;
                font-family: Montserrat;
                font-size: 13px;
                font-weight: 700;
                line-height: 30px;
                text-transform: uppercase;
            }
            &_address{
                color: #858585;
                font-family: "Playfair Display";
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
            }
            &_number{
                color: #858585;
                font-family: Montserrat;
                font-size: 15px;
                font-weight: 400;
                line-height: 24px;
                >b{
                    color: $main-black;
                }
            }
        }
    }
}